.navbar {
     color: aliceblue;
}

.btn {
  color: black;
  background-color: rgb(190, 197, 255);
  
}
.john-image {
  width: 700px;
  border-radius: 15px;
  padding-bottom: 55px;
}
.card-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 58px;
  font-weight: 500;
}

.card-text {
  font-family: sans-serif;
  font-size: 25px;
}
.important-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  padding-top: 20px;
}
.main-heading {
  font-family: fantasy;
  text-align: center;
  font-size: 60px;
}
.john-heading {
  font-family: fantasy;
  text-align: center;
  font-size: 60px;
  padding-top: 15px;
}

.welcome-heading {
  text-align: center;
  padding-bottom: 30px;
  font-family: fantasy;
  font-size: 500px;
  color: #2a0061;
}
.navbar-brand {
  font-family: "Times New Roman", Times, serif;
}

body {
  background-image: url("images/wallpaper.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.pork-paragraph{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    border: #2a0061;
    border-radius: 15px;
}
/* Custom styling for cards */
/* Custom styling for cards */
.custom-card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}


.custom-card:hover {
  transform: scale(1.03);
}


.custom-card .card-body {
  background-color: #f8f9fa;
}


.custom-card .card-title {
  font-weight: 600;
}

.custom-card img{
  height: 200px;
}